* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px; 
}

header {
  flex: 0 80px;
  opacity: 0.7;
  background-color: rgb(214, 78, 78);
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
  opacity: 0.7;
  background-color: rgb(214, 78, 78);

}

menu {
  flex: 1;
  display: flex;
  /* this overwrites the Bootstrap bb*/
  flex-direction: row !important;
  list-style: none;
}

menu .nav-item {
  padding: 0 0.3em;
}

.navbar-nav li a {
  color:white;
}

img {
  width:30vh;

}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
      display:none;
  }
  footer {
      display:none;
  }
  main {
      flex: 1 100vh;
  }
}